APP_NAME="Developer "
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost/projectsPortfolio
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=developer_ruhban
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=developer_ruhban_session
SESSION_LIFETIME=120
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax

LOG_CHANNEL=single
LOG_LEVEL=debug
