/.idea/
/.vscode/
/.phpunit.result.cache
/.DS_Store
/.env
/.env.*
/vendor/
/node_modules/
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/cache/
/tmp/
/public/uploads/
*.log
*.cache
*.swp
Thumbs.db

*/.env.example
